.swiper {
    width: 90%;
    height: 40vh;
    margin: 3rem auto;
}

.swiper-slide {
    height: 20vw;
    border-radius: 10px;
    width: 60vw;
}

.swiper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.swiper p {
    color: white;
    font-weight: 600;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 2%;
    left: 50%;
}