img {
    object-fit: cover;
    height: 100%;
}

.swiper {
    width: 90%;
    height: 40vh;
    margin: 3rem auto;
}

.swiper-slide {
    height: 20vw;

}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

p {
    color: white;
    font-weight: 600;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 2%;
    left: 50%;
}